<div>
  <span>Scale
    <mat-slider (input)="scale = $event.value"
    thumbLabel min="1" max="30" step="0.5" value="10">Scale</mat-slider>
  </span>
  <span>Speed
    <mat-slider (input)="this.throttledSetSpeed($event.value)"
    thumbLabel min="1" max="1000" #speed_slider>Speed</mat-slider>
  </span>
</div>
<div *ngFor="let e of effects; last as last">
  <app-effect [effect]="e" [scale]="scale" (updated)="refreshEffects()"></app-effect>
  <mat-divider></mat-divider>
</div>
<br>
<button mat-raised-button color="primary" (click)="this.addEffect()">New</button>
