div {
  margin-left: 10px;
}

button {
  margin-left: 10px;
}

span {
white-space: nowrap;
}

mat-slider {
  width: 300px;
}

.sliders {
  margin-top: 12px;
}

[mat-raised-button] {
  margin-bottom: 6px;
}
