div.category{
  text-align: center;
}

div.category * {
  text-align: center;
}

div.chart {
  max-width: 500px;
  margin-left:auto;
  margin-right:auto;
}

div table{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

mat-slider {
  width: 280px;
}

[mat-raised-button] {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 6px;
}

[lcol]{
  width: 200px;
}

[miWide]{
  width: 280px;
  margin-right: 10px;
  margin-left: 10px;
}

[miNarrow]{
  width: 93px;
}
