#delIcon {
  color: getTextColor(c.red,c.green,c.blue);
}

.text-inside-tile {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.icon-inside-tile {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.mat-icon { cursor: pointer }
