<!--p>tab-colors-component works!</p-->
<mat-grid-list [cols]="breakpoint" rowHeight="1:1">
  <span>Create a new color by clicking the '+' tile. Edit a color by creating a new one with the same name.</span>
    <mat-grid-tile [style.background]="'lightgrey'" (click)="this.postColorDialog()">
      <mat-icon id="addIcon">add</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let c of colors"
        [style.background]="'#'+c.value"
        [style.color]=getTextColor(c.red,c.green,c.blue)
        (window:resize)="onResize($event)"
        (click)="this.setColor(c.value)">
        <mat-grid-tile-header>{{c.name | uppercase}}</mat-grid-tile-header>
        <span class="text-inside-tile">
        Hex: {{c.value}}<br>
        R: {{c.red}}<br>
        G: {{c.green}}<br>
        B: {{c.blue}}
        </span>
        <span class="icon-inside-tile">

        <mat-icon id="delIcon" (click)="this.deleteColor(c.id);$event.stopPropagation()">delete</mat-icon>
        </span>
    </mat-grid-tile>
</mat-grid-list>
