<p>
  <button mat-raised-button color="accent" *ngIf="effect.edited"  (click)="this.postEffect(effect)">Save</button>
  <button mat-raised-button color="basic" *ngIf="effect.edited"  (click)="this.refreshEffects()">Cancel</button>
   <span>{{effect.name}}</span>
  <button mat-raised-button color="primary" (click)="this.setEffect(effect.id)">Play</button>
  <button mat-raised-button color="primary" (click)="this.addElement()">Add element</button>
  <button mat-raised-button color="warn" (click)="this.deleteEffect(effect.id)">Delete</button>
</p>
<div class="scrollmenu">
  <a *ngFor="let e of effect.value; index as i; first as first; last as last"
  [ngStyle]="{'background-image': 'linear-gradient(to right,#' + this.getPreviousColor(i,e.fade) + ',#' + e.color +')'}"
  [style.width]="0.001*this.scale*e.duration+'%'"
  [style.min-width.px]='100'
  >
  <mat-icon id="left" *ngIf="!first"
    [style.color]="util.getTextColorHex(this.getPreviousColor(i,e.fade))"
    (click)="this.moveElementLeft(i)">chevron_left</mat-icon>
  <mat-icon id="right" *ngIf="!last"
    [style.color]="util.getTextColorHex(e.color)"
    (click)="this.moveElementRight(i)">chevron_right</mat-icon>
  <mat-icon id="delete"
    [style.color]="util.getTextColorHex(e.color)"
    (click)="this.removeElement(i)">delete</mat-icon>
  </a>
</div>
